/*@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@700&family=Montserrat:wght@300;400;600&display=swap');*/
@font-face {
    font-family: "Monserrat";
    src: local(Monserrat Medium) local(Monserrat-Medium) url(assets/Montserrat/Montserrat-Medium.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Monserrat";
    src: local(Monserrat Light) local(Monserrat-Light) url(assets/Montserrat/Montserrat-Light.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Monserrat";
    src: local(Montserrat SemiBold) local(Montserrat-SemiBold) url(assets/Montserrat/Montserrat-SemiBold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Cardo";
    src: local(Cardo Bold) local(Cardo-Bold) url(assets/Cardo/Cardo-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    font-size: 10pt;
    color: #9f9f9f;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    margin: 0;
}

.header {
    position: fixed;
    background-color: #fff;
    width: 100vw;
    box-shadow: 1px 1px 10px #00000046;
    z-index: 5;
}

.menu-item {
    color: black;
    opacity: .5;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    padding: 15px 40px;
    transition: opacity ease-in-out .3s;
}

.menu-item:hover,
.menu-item.active {
    opacity: 1;
}

.social-buttons {
    position: absolute;
    right: 20px;
    top: 15px;
}

.social-buttons a {
    padding: 10px 10px 5.5px 10px;
    opacity: .5;
    transition: opacity ease-in-out .3s;
}

.social-buttons img {
    height: 1em;
}

.social-buttons a:hover {
    opacity: 1;
}

.banner {
    background: no-repeat center / cover url("assets/header.jpg");
    height: 350px;
}

.mainbody {
    display: flex;
}

.main {
    width: 70%;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}

.sidebar {
    width: 30%;
    background-color: #e7e7e7;
    padding: 40px;
    box-shadow: inset 3px 3px 20px rgba(0, 0, 0, 0.2);
}

.sidebar>* {
    margin-bottom: 2.5em;
}

.article {
    width: 50vw;
    margin: 25px 0px;
    position: relative;
}

.article-img {
    float: left;
    height: 150px;
    margin-right: 25px;
}

.post-date {
    font-style: normal;
    font-weight: 300;
}

.article-title {
    font-family: "Cardo", serif;
    margin-top: .1em;
    font-size: 2.1em;
    color: black;
}

.article p {
    color: black;
}

.side-menu h2 {
    font-weight: 600;
    margin-bottom: 1em;
    color: black;
}

.side-menu a {
    text-decoration: none;
    line-height: 2em;
    color: inherit;
}

.side-menu a:hover {
    text-decoration: underline;
}

.side-menu li,
.side-menu ul {
    list-style: none;
    padding: 0;
}

.side-menu a::after {
    content: attr(data-posts);
    display: block;
    height: 20px;
    width: 20px;
    float: right;
    color: white;
    background-color: tomato;
    border-radius: 50%;
    text-align: center;
    font-size: .8rem;
    font-weight: bold;
    line-height: 1.5rem;
}

@media screen and (max-width: 1040px) {
    .mainbody {
        display: block;

    }

    .main {
        width: 100%;
    }

    .sidebar {
        width: 100%;
    }

    .article {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .article-img {
        float: none;
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 570px) {
    .header {
        position: absolute;
    }

    .header-nav {
        text-align: center;
    }

    .menu-item {
        padding: 10px 20px;
    }

    .social-buttons {
        text-align: center;
        position: static;
        margin: 5px;
    }
}