/*@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@700&family=Montserrat:wght@300;400;600&display=swap');*/
@font-face {
    font-family: "Monserrat";
    src: local(Monserrat Medium) local(Monserrat-Medium) url(assets/Montserrat/Montserrat-Medium.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Monserrat";
    src: local(Monserrat Light) local(Monserrat-Light) url(assets/Montserrat/Montserrat-Light.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Monserrat";
    src: local(Montserrat SemiBold) local(Montserrat-SemiBold) url(assets/Montserrat/Montserrat-SemiBold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Cardo";
    src: local(Cardo Bold) local(Cardo-Bold) url(assets/Cardo/Cardo-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    font-size: 10pt;
    color: #9f9f9f;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    margin: 0;
}

.header {
    position: fixed;
    background-color: #fff;
    width: 100vw;
    box-shadow: 1px 1px 10px #00000046;
    z-index: 5;
}

.menu-item {
    color: black;
    opacity: .5;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    padding: 15px 40px;
    transition: opacity ease-in-out .3s;
}

.menu-item:hover,
.menu-item.active {
    opacity: 1;


    /*transition: color .5s ease-in-out ;*/
}

.social-buttons {
    position: absolute;
    right: 20px;
    top: 15px;
}

.social-buttons a {
    padding: 10px 10px 5.5px 10px;
    opacity: .5;
    transition: opacity ease-in-out .3s;
}

.social-buttons img {
    height: 1em;
}

.social-buttons a:hover {
    opacity: 1;
}

.banner {
    background: no-repeat center / cover url("assets/header.jpg");
    height: 350px;
}

.mainbody {
    display: flex;
}

.main {
    /*float: left;*/
    width: 70%;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}

.sidebar {
    /*float: right;*/
    width: 30%;
    background-color: #e7e7e7;
    padding: 40px;
    box-shadow: inset 3px 3px 20px rgba(0, 0, 0, 0.2);
}

.sidebar>* {
    margin-bottom: 2.5em;
}

.article {
    width: 50vw;
    margin: 25px 0px;
    position: relative;
}


/*popup description box*/
/*.article::after {
    transition: ease-in-out .5s;
    content: "";
    opacity: 0;
    position: absolute;
    top: 25px;
    left: 50%;
    width: 0;
    height: 0;
    border-radius: 50px;
    background-color: gray;
}

.article:hover::after {
    content: "";
    opacity: 1;
    top: -10px;
    left: 50%;
    width: 500px;
    height: 250px;

}*/

.article-img {
    float: left;
    height: 150px;
    margin-right: 25px;
}

.post-date {
    font-style: normal;
    font-weight: 300;
}

.article-title {
    font-family: "Cardo", serif;
    margin-top: .1em;
    font-size: 2.1em;
    color: black;
}

.article p {
    color: black;
}

.side-menu h2 {
    font-weight: 600;
    margin-bottom: 1em;
    color: black;
}

.side-menu a {
    text-decoration: none;
    line-height: 2em;
    color: inherit;
}

.side-menu a:hover {
    text-decoration: underline;
}

.side-menu li,
.side-menu ul {
    list-style: none;
    padding: 0;
}

.side-menu a::after {
    content: attr(data-posts);
    display: block;
    height: 20px;
    width: 20px;
    float: right;
    color: white;
    background-color: tomato;
    border-radius: 50%;
    text-align: center;
    font-size: .8rem;
    font-weight: bold;
    line-height: 1.5rem;
}